.sds-filter-list-icon-label {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--sds-space-gap-tiny);
  justify-content: flex-start;

  &__icon {
    align-items: center;
    display: flex;
    font-size: var(--sds-typography-fontsize-700);
    justify-content: center;
  }
}
