.sds-sikt-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sds-sikt-main {
  margin: 0 auto;
  max-width: var(--sds-grid-content-medium);
  padding: var(--sds-size-base-l);
}

.sds-sikt-footer {
  margin-top: auto;
}
