---
import Layout from "../../layouts/PageLayout.astro";
import { Hero } from "../../components";
import { Link, Paragraph } from "@sikt/sds-core";
import { Badge } from "@sikt/sds-badge";
import { Section } from "@sikt/sds-section";
import TagList from "../../components/tag/TagList.astro";

const pageTitle = "Designtokens";
---

<Layout title={pageTitle}>
  <Hero
    breadcrumbs={[
      { title: "Designsystem", href: "/" },
      { title: "Produktutvikling" },
    ]}
    heading={pageTitle}
    slot="hero"
  >
    Et designtoken er koblingen av en verdi med et navn som er lett å forstå.
  </Hero>

  <Section headingText="Hva er designtokens?">
    <Paragraph className="ds-content-max-width">
      Designtokens er de minste byggeklossene i designet, verdier som farger,
      typografivalg, størrelser og så videre. Målet med designtokens er å gjøre
      det enkelt å gjenbruke, kommunisere og kontrollere designbeslutninger på
      tvers av designverktøy og kode, uavhengig av teknologivalg.
    </Paragraph>

    <Paragraph className="ds-content-max-width">
      Token med navn som inneholder informasjon om hvor eller hvordan verdien
      skal brukes, for eksempel --sds-color-text-primary, kalles semantiske.
    </Paragraph>
  </Section>

  <Section headingText="Designtokens i Figma">
    <Paragraph className="ds-content-max-width">
      Sikt benytter Figma sin innebygde designtoken-funksjonalitet, som i Figma
      kalles Variabler (Variables på engelsk), for å tilby tokens for
      størrelser, layout, farge og typografi.
    </Paragraph>

    <Paragraph className="ds-content-max-width">
      Det anbefales sterkt å benytte eksisterende variabler i SDS for å definere
      designattributter også for lokale komponenter.
    </Paragraph>
  </Section>

  <Section headingText="Collections og Modes">
    <Paragraph className="ds-content-max-width">
      I Figma brukes termene Collections og Modes om grupperinger av variabler
      (collections) og kontekst-avhengige, alternative verdier for hver variabel
      (mode).
    </Paragraph>

    <Paragraph className="ds-content-max-width">
      Collections samler variabler/tokens av samme type, f.eks farge eller
      størrelse.
    </Paragraph>

    <Paragraph className="ds-content-max-width">
      Mode lar deg sette opp ytterligere kontekster hvor et token har en
      alternativ referanseverdi. Modes kan settes på artboard-nivå, på
      komponentnivå eller på layer-nivå, og lar deg for eksempel bytte mellom
      light-mode og dark-mode.
    </Paragraph>

    <Paragraph className="ds-content-max-width">
      Merk at hver collection har egne modes, siden forskjellige typer variabler
      ofte har forskjellige kontekster (for eksempel light/dark-mode for
      fargevariabler, mens typografi- eller space-variabler har modes for
      forskjellige skjermstørrelser).
    </Paragraph>
  </Section>

  <Section headingText="Navngiving">
    <TagList
      tags={[
        { tag: "sds", name: "Prefiks" },
        { tag: "color", name: "Type" },
        { tag: "brand", name: "Kategori" },
        { tag: "primary", name: "Navn" },
        { tag: "subtle", name: "Variant" },
      ]}
    />

    <Paragraph className="ds-content-max-width">
      Navngivingen på tokens er forsøkt satt opp slik at de er selvforklarende
      om hvilken type de er og hva de skal brukes til. Som en tommelfingerregel
      går det fra generellt -> spesifikt i leseretningen.
    </Paragraph>

    <Paragraph className="ds-content-max-width">
      <span class="sds-typography-label sds-typography-label--l">
        Eksempel:
      </span>
      <Badge visibility="strong">
        --sds-color-interaction-primary-transparent-default
      </Badge>
    </Paragraph>

    <Paragraph className="ds-content-max-width">
      Dette er et token fra Sikt Design System (sds), en farge (color) som
      brukes til interaksjoner (interaction), og er basert på hovedfargen
      (primary), med nivå (transparent) i standard variasjon (default).
    </Paragraph>
  </Section>
</Layout>
