@scope (.sd3-typography) {
  :scope {
    &[data-variant="body"] {
      &[data-size="sm"] {
        font-size: var(--sd3-typography-size-text-body-sm);
        font-weight: var(--sd3-typography-weight-regular);
        line-height: var(--sd3-typography-line-height-text-body-sm);
      }

      &[data-size="md"] {
        font-size: var(--sd3-typography-size-text-body-md);
        font-weight: var(--sd3-typography-weight-regular);
        line-height: var(--sd3-typography-line-height-text-body-md);
      }

      &[data-size="lg"] {
        font-size: var(--sd3-typography-size-text-body-lg);
        font-weight: var(--sd3-typography-weight-regular);
        line-height: var(--sd3-typography-line-height-text-body-lg);
      }

      &[data-size="xl"] {
        font-size: var(--sd3-typography-size-text-body-xl);
        font-weight: var(--sd3-typography-weight-regular);
        line-height: var(--sd3-typography-line-height-text-body-xl);
      }
    }
  }
}
