# ide
.vscode
.idea
.iml
*.iml

# file system
.DS_Store

# dependencies
node_modules
.npm

# logs
*.log

# local env files
.env*.local

# testing
coverage
junit.xml
results.xml
/playwright
**/playwright/**/*-snapshots/*
!**/playwright/**/*-snapshots/*-linux.*

# cache
.cache
.turbo

# build
build
dist
storybook-static
