# ide
.vscode
.idea
.iml
*.iml

# file system
.DS_Store

# dependencies
node_modules
.npm

# logs
*.log

# local settings files
*.local*

# local claude skills
.claude/skills/create-component-spec
.claude/skills/implement-component-spec
.claude/skills/review-component-spec

# testing
coverage
junit.xml
results.xml
/playwright
**/playwright/**/*-snapshots/*
!**/playwright/**/*-snapshots/*-linux.*

# cache
.cache
.turbo

# build
build
dist
