.sds-sikt-index {
  &__section {
    padding: var(--sds-size-padding-large) 0;
  }

  &__paragraph {
    padding: var(--sds-size-padding-small) 0;
  }

  &__cta {
    display: flex;
    justify-content: center;
    padding: var(--sds-size-padding-medium);
  }
}
