---
const { tags } = Astro.props;
---

<div class="tag-list">
  {
    tags.map((tag) => (
      <div class="tag-container">
        <div class:list={["tag", "sds-typography-body--code"]}>{tag.tag}</div>
        <div class="sds-typography-body--s">{tag.name}</div>
      </div>
    ))
  }
</div>

<style>
  .tag-list {
    display: flex;
    gap: var(--sds-space-gap-small);
    flex-wrap: wrap;
  }

  .tag-container {
    display: flex;
    flex-direction: column;
    gap: var(--sds-space-gap-small);
    text-align: center;
  }

  .tag {
    background-color: var(--sds-color-interaction-primary-subtle-default);
    border-radius: var(--sds-space-border-radius-medium);
    padding: var(--sds-space-padding-tiny) var(--sds-space-padding-small);
  }
</style>
