@import url("@sikt/sds-tokens/dist/css/custom-media.css");

.section {
  background-color: var(--sds-color-layout-page-default);
  display: grid;
  gap: var(--sds-space-gap-medium);
  max-width: var(--sds-space-grid-full);
}
