.section {
  background-color: var(--sds-color-layout-page-default);
  display: grid;
  gap: var(--sds-space-gap-medium);
  max-width: var(--sds-space-grid-full);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--sds-space-gap-medium);
}

.heading {
  word-break: break-all;
}
