<div class="card">
  <slot />
</div>

<style>
  .card {
    align-items: center;
    background-color: var(--sds-color-layout-background-default);
    border-radius: var(--sds-space-border-radius-large);
    display: flex;
    flex-direction: column;
    gap: var(--sds-space-gap-large);
    padding: var(--sds-space-padding-large);
  }
</style>
