@import url("@sikt/sds-tokens/dist/css/custom-media.css");

.komponenter {
  &__section {
    background-color: var(--sds-color-layout-page-default);
    display: grid;
    gap: var(--sds-space-gap-large);
    margin: 0 auto;
    max-width: var(--sds-space-grid-full);

    &-primary {
      background-color: var(--sds-color-layout-background-primary);
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: var(--sds-space-gap-medium);
    }
  }

  &__side-nav-wrapper {
    padding: var(--sds-space-padding-huge);
  }

  &__sds-section {
    padding: var(--sds-space-padding-huge);

    &-content {
      display: flex;
      flex-direction: column;
      gap: var(--sds-space-gap-medium);

      &--gap-large {
        gap: var(--sds-space-gap-large);
      }
    }
  }

  @media (--sds-base-breakpoint-desktop) {
    &__section-desktop-1x4 {
      grid-template-columns: 1fr 3fr;
    }

    &__side-nav-wrapper {
      padding-right: 0;
    }
  }
}
