@import url("@sikt/sds-core");
@import url("@sikt/sds-button");
@import url("@sikt/sds-header");
@import url("@sikt/sds-footer");
@import url("@sikt/sds-logo");
@import url("@sikt/sds-icons");
@import url("@sikt/sds-card");
@import url("@sikt/sds-breadcrumbs");
@import url("@sikt/sds-section");
@import url("@sikt/sds-badge");
@import url("@sikt/sds-table");
@import url("@sikt/sds-list");

.sds-sikt-button-group {
  flex-wrap: wrap;
}

.sds-sikt-u-max-width-180,
.sds-sikt-u-max-width-fourth {
  max-width: 180px;
}

.sds-sikt-u-max-width-360,
.sds-sikt-u-max-width-half {
  max-width: 360px;
}

.sds-sikt-u-max-width-720,
.sds-sikt-u-max-width-full {
  max-width: 720px;
}
