.sds-sikt-contributors {
  --sikt-animation-color: 95 56 250; /* --sds-color-interaction-primary-strong-highlight */

  display: flex;
  flex-flow: wrap;
  justify-content: center;
  text-align: center;

  @media (prefers-color-scheme: dark) {
    --sikt-animation-color: 155 131 252; /* --sds-color-interaction-primary-strong-highlight (dark-mode) */
  }

  &__contributor {
    padding: var(--sds-space-gap-medium);

    &-image {
      border-radius: var(--sds-space-border-radius-full);
      width: 60px;
      height: 60px;

      &--animation {
        animation: pulse 2s infinite;
      }
    }
  }

  &__contributor-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgb(var(--sikt-animation-color) / 100%);
    }

    70% {
      box-shadow: 0 0 0 10px rgb(var(--sikt-animation-color) / 0%);
    }

    100% {
      box-shadow: 0 0 0 0 rgb(var(--sikt-animation-color) / 0%);
    }
  }
}
