---
import Layout from "../layouts/PageLayout.astro";
import { Hero } from "../components";
import { BackToFrontpageButton } from "../components";

const pageTitle = "En feil har skjedd";
---

<Layout title={pageTitle}>
  <Hero
    breadcrumbs={[{ title: "Designsystem", href: "/" }]}
    heading={pageTitle}
  >
    <div>
      <BackToFrontpageButton />
    </div>
  </Hero>
</Layout>
