@import url("@sikt/sds-tokens/dist/css/custom-media.css");

.grunnleggende {
  &__section {
    background-color: var(--sds-color-layout-page-default);
    display: grid;
    gap: var(--sds-space-gap-large);
    margin: 0 auto;
    max-width: var(--sds-space-grid-full);
    padding: var(--sds-space-padding-huge);

    &-primary {
      background-color: var(--sds-color-layout-background-primary);
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: var(--sds-space-gap-medium);
    }
  }

  &__side-nav-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--sds-space-gap-medium);
    padding: var(--sds-space-padding-huge) 0;
  }

  &__paragraph {
    &--max-width {
      max-width: 720px;
    }
  }

  &__sds-section {
    padding: var(--sds-space-padding-huge) 0;

    &-content {
      display: flex;
      flex-direction: column;
      gap: var(--sds-space-gap-medium);
    }
  }

  @media (--sds-base-breakpoint-desktop) {
    &__sds-section {
      padding: var(--sds-space-padding-huge);
    }

    &__section-desktop-1x4 {
      grid-template-columns: 1fr 3fr;
    }
  }
}
