---
import Layout from "../../layouts/PageLayout.astro";
import { Hero } from "../../components";
import { Link, Paragraph } from "@sikt/sds-core";
import { Badge } from "@sikt/sds-badge";
import { Section } from "@sikt/sds-section";

const pageTitle = "Designtokens";
---

<Layout title={pageTitle}>
  <Hero
    breadcrumbs={[
      { title: "Designsystem", href: "/" },
      { title: "Grunnleggende" },
    ]}
    heading={pageTitle}
    slot="hero"
  >
    Designtokens er verdier koblet til et navn, og sørger for at ting blir likt
    på tvers av design, utvikling, og tjenester.
  </Hero>

  <Section headingText="Hva er designtokens?">
    <Paragraph className="ds-content-max-width">
      Designtokens er små byggeklosser bestående av designattributter som
      farger, typografi, størrelser, avstander, former osv. De er ikke begrenset
      til en spesifikk teknologi eller et designverktøy, men er fleksible
      variabler som kan benyttes av alle. Ved å bruke designtokens sørger vi for
      at både designere og utviklere arbeider etter de samme reglene og
      retningslinjene. Dette forenkler vedlikeholdet av designet og sikrer en
      helhetlig visuell fremstilling på tvers av produkter.
    </Paragraph>

    <Paragraph modifier="emphasis" className="ds-content-max-width">
      Fra <Link href="https://aksel.nav.no" isExternal>aksel.nav.no</Link>
    </Paragraph>
  </Section>

  <Section headingText="Designtokens i Figma">
    <Paragraph className="ds-content-max-width">
      Sikt leverer semantiske typografitokens i flere kategorier: headlines,
      body text, label og overline. Vi bruker den innebygde funksjonaliteten for
      designtokens som Figma kaller “variables”. Denne funksjonaliteten er
      fremdeles i beta-versjon og under utvikling, men det gir oss en større
      sikkerhet i forhold til kompatibilitet og mindre avhengigheter.
    </Paragraph>
  </Section>

  <Section headingText="Collections og modes">
    <Paragraph className="ds-content-max-width">
      I Figma brukes terminologien collections og modes om å gruppere variabler
      i sett (collections) og å kunne gi et token flere verdier (mode, f.eks.
      dark- og light-mode).
    </Paragraph>

    <Paragraph className="ds-content-max-width">
      Vi har gruppert et sett tokens i “Base”-collection som kun er tilgjengelig
      i selve bibliotek-filen, da disse ikke skal brukes direkte men inneholder
      de grunnleggende verdiene de andre tokensene baserer seg på.
    </Paragraph>

    <Paragraph className="ds-content-max-width">
      De andre tokensene er gruppert i farger (Color) og størrelser/avstander
      (Space) slik at man enkelt kan bytte mellom de forskjellige modusene de
      inneholder (dark / light, og desktop / tablet / mobile).
    </Paragraph>
  </Section>

  <Section headingText="Navngiving">
    <div class="tag-list">
      <div class="tag-container">
        <div class:list={["tag", "sds-typography-body--code"]}>sds</div>
        <div class="sds-typography-body--s">Prefix</div>
      </div>
      <div class="tag-container">
        <div class:list={["tag", "sds-typography-body--code"]}>color</div>
        <div class="sds-typography-body--s">Type</div>
      </div>
      <div class="tag-container">
        <div class:list={["tag", "sds-typography-body--code"]}>brand</div>
        <div class="sds-typography-body--s">Category</div>
      </div>
      <div class="tag-container">
        <div class:list={["tag", "sds-typography-body--code"]}>primary</div>
        <div class="sds-typography-body--s">Name</div>
      </div>
      <div class="tag-container">
        <div class:list={["tag", "sds-typography-body--code"]}>subtle</div>
        <div class="sds-typography-body--s">Variant</div>
      </div>
    </div>

    <Paragraph className="ds-content-max-width">
      Navngivingen på tokens er forsøkt satt opp slik at de er selvforklarende
      om hvilken type de er og hva de skal brukes til. Som en tommelfingerregel
      går det fra generellt -> spesifikt i leseretningen.
    </Paragraph>

    <Paragraph className="ds-content-max-width">
      <span class="sds-typography-label sds-typography-label--l">
        Eksempel:
      </span>
      <Badge visibility="strong">
        --sds-color-interaction-primary-transparent-default
      </Badge>
    </Paragraph>

    <Paragraph className="ds-content-max-width">
      Dette er et token fra Sikt Design System (sds), en farge (color) som
      brukes til interaksjoner (interaction), og er basert på hovedfargen
      (primary), med gjennomsiktighet (transparent) i standard variasjon
      (default).
    </Paragraph>
  </Section>
</Layout>

<style>
  .tag-list {
    display: flex;
    gap: var(--sds-space-gap-small);
    flex-wrap: wrap;
  }

  .tag-container {
    display: flex;
    flex-direction: column;
    gap: var(--sds-space-gap-small);
    text-align: center;
  }

  .tag {
    background-color: var(--sds-color-interaction-primary-subtle-default);
    border-radius: var(--sds-space-border-radius-medium);
    padding: var(--sds-space-padding-tiny) var(--sds-space-padding-small);
  }
</style>
