.sds-input-datepicker {
  position: relative;

  &__wrapper {
    gap: var(--sds-space-gap-small);

    &:has(.sds-input-datepicker__input-segment:focus-visible) {
      outline: var(--sds-focus-outline);
    }
  }

  &__input {
    display: flex;
    font-variant-numeric: tabular-nums;
    width: 100%;

    &-segment {
      &:focus {
        outline: none;
        background-color: var(--sds-color-layout-focus-border);
        color: var(--sds-color-text-on-strong);
        border-radius: var(--sds-space-border-radius-minimal);
        margin: calc(-1 * var(--sds-space-padding-infinitesimal));
        padding: var(--sds-space-padding-infinitesimal);
      }
    }

    &--end {
      justify-content: end;
    }
  }

  &__calendar {
    background-color: var(--sds-color-layout-background-default);
    box-shadow: var(--sds-effect-shadow-elevated-default);
    border-radius: var(--sds-space-border-radius-medium);
    color: var(--sds-color-text-primary);
    display: flex;
    flex-direction: column;
    gap: var(--sds-space-gap-small);
    min-width: max-content;
    padding: var(--sds-space-padding-small);
    position: absolute;
    top: calc(100% + var(--sds-space-padding-tiny));
    left: 0;
    z-index: var(--sds-base-zindex-menu);

    &-header {
      align-items: center;
      display: flex;
      gap: var(--sds-space-gap-small);
      justify-content: space-between;
    }

    &-heading {
      font-size: var(--sds-typography-body-default-fontsize);
      font-weight: var(--sds-typography-body-default-fontweight);
      line-height: var(--sds-typography-body-default-lineheight);
    }

    &-button {
      --button-border-radius: var(--sds-space-border-radius-full);
      --button-padding: var(--sds-space-padding-small);

      align-items: center;
      background-color: transparent;
      border: 0 none;
      border-radius: var(--button-border-radius);
      color: var(--sds-color-text-primary);
      cursor: pointer;
      display: flex;
      font-size: var(--sds-typography-fontsize-700);
      justify-content: center;
      padding: var(--button-padding);

      &[data-focus-visible],
      &:focus-visible {
        outline: var(--sds-focus-outline);
      }

      &[data-hovered],
      &[data-focus-visible],
      &:focus-visible {
        background-color: var(
          --sds-color-interaction-primary-transparent-highlight
        );
      }

      @media (pointer: fine) {
        &:hover {
          background-color: var(
            --sds-color-interaction-primary-transparent-highlight
          );
        }
      }

      &[data-pressed],
      &:active {
        background-color: var(
          --sds-color-interaction-primary-transparent-pressed
        );
      }

      &:disabled {
        background: repeating-linear-gradient(
          -45deg,
          transparent,
          transparent var(--sds-base-size-s),
          var(--sds-color-interaction-neutral-subtle-default)
            var(--sds-base-size-s),
          var(--sds-color-interaction-neutral-subtle-default)
            calc(var(--sds-base-size-s) * 2)
        );
        color: var(--sds-color-text-primary);
        cursor: not-allowed;
      }
    }

    /* stylelint-disable-next-line selector-max-type */
    th {
      font-size: var(--sds-typography-body-s-fontsize);
      font-weight: var(--sds-typography-body-s-fontweight);
      line-height: var(--sds-typography-body-s-lineheight);
    }

    &-cell {
      --button-border-radius: var(--sds-space-border-radius-minimal);
      --button-padding: var(--sds-space-padding-minimal);

      align-items: center;
      background-color: transparent;
      border: 0 none;
      border-radius: var(--button-border-radius);
      color: var(--sds-color-text-primary);
      cursor: pointer;
      display: flex;
      justify-content: center;
      font-size: var(--sds-typography-body-default-fontsize);
      font-weight: var(--sds-typography-body-default-fontweight);
      line-height: var(--sds-typography-body-default-lineheight);
      margin: calc(var(--sds-focus-outline-width) / 2);
      min-height: 44px;
      min-width: 44px;
      padding: var(--button-padding);

      &[data-today] {
        text-decoration: underline;
        text-decoration-thickness: var(--sds-space-border-weight-regular);
      }

      &[data-outside-month] {
        display: none;
      }

      &[data-focus-visible],
      &:focus-visible {
        outline: var(--sds-focus-outline);
      }

      &[data-hovered],
      &[data-focus-visible],
      &:focus-visible {
        background-color: var(
          --sds-color-interaction-primary-transparent-highlight
        );
      }

      @media (pointer: fine) {
        &:hover {
          background-color: var(
            --sds-color-interaction-primary-transparent-highlight
          );
        }
      }

      &[data-pressed],
      &:active {
        background-color: var(
          --sds-color-interaction-primary-transparent-pressed
        );
      }

      &[data-selected] {
        background-color: var(--sds-color-interaction-primary-strong-default);
        color: var(--sds-color-text-on-strong);
      }

      &[aria-invalid] {
        background-color: var(--sds-color-interaction-danger-strong-default);
        color: var(--sds-color-text-on-strong);
      }

      &[aria-disabled] {
        background: repeating-linear-gradient(
          -45deg,
          transparent,
          transparent var(--sds-base-size-s),
          var(--sds-color-interaction-neutral-subtle-default)
            var(--sds-base-size-s),
          var(--sds-color-interaction-neutral-subtle-default)
            calc(var(--sds-base-size-s) * 2)
        );
        color: var(--sds-color-text-primary);
        cursor: not-allowed;
      }
    }

    [aria-disabled="true"] {
      cursor: auto;
    }
  }

  .sds-form__help-text {
    padding-top: unset !important;
  }

  /* stylelint-disable selector-class-pattern */
  .react-aria-Text:nth-child(1 of .react-aria-Text) {
    padding-top: var(--sds-space-padding-tiny);
  }
  /* stylelint-enable selector-class-pattern */
}
