---
import Layout from "../../../layouts/PageLayout.astro";
import { Hero } from "../../../components";
import IconCard from "./_components/card/IconCard.astro";
import { Link } from "@sikt/sds-core";
import { Section } from "@sikt/sds-section";
import { config } from "../../../../../../packages/icons/src/icons.config.mjs";
import { kebabToString } from "../../../utils/string";

const pageTitle = "Ikonbibliotek";
const categories = [...new Set(config.map((item) => item.category))];
---

<Layout title={pageTitle}>
  <Hero
    breadcrumbs={[{ title: "Designsystem", href: "/" }, { title: "Utvikling" }]}
    heading={pageTitle}
    slot="hero"
  >
    Sikt bruker ikonsettet <Link
      href="https://phosphoricons.com/"
      target="_blank">Phosphor Icons</Link
    >. Vi har gjort et utvalg fra ikonsettet for å definere hvilke ikoner som
    brukes til hva.
  </Hero>

  {
    categories.map((category) => (
      <Section headingText={kebabToString(category)}>
        <div class="ocean">
          {config
            .filter((item) => item.category === category)
            .map(({ name }) => (
              <IconCard name={name} />
            ))}
        </div>
      </Section>
    ))
  }
</Layout>

<style>
  .ocean {
    display: flex;
    flex-wrap: wrap;
    gap: var(--sds-space-gap-medium);
  }
</style>
