@import url("@sikt/sds-tokens/dist/css/custom-media.css");

.nav {
  --sikt-top-header-height: 28px;

  background-color: var(--sds-color-brand-accent-strong);
  display: grid;
  place-items: center center;
  min-height: var(--sikt-top-header-height);
  padding: 0 var(--sds-space-padding-small);

  @media (--sds-base-breakpoint-desktop) {
    --sikt-top-header-height: 40px;
  }
}

.ul {
  display: flex;
  gap: var(--sds-space-gap-medium);
  list-style: none;
}
