@import url("./label.css");
@import url("./help-text.css");

.sds-form {
  &-field {
    position: relative;

    &__label {
      &-wrapper {
        position: relative;
      }

      &-after {
        display: flex;
        gap: var(--sds-space-gap-tiny);
        padding: calc(var(--input-padding) + var(--input-border-width));
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
}
