---
import Layout from "./Layout.astro";
import { Menu } from "../components";

const { title, url } = Astro.props;
---

<Layout title={title}>
  <div class="page">
    <div class="menu">
      <Menu currentUrl={url} />
    </div>
    <div class="content">
      <div class="container">
        {/* TODO: Hero */}
        <slot name="hero" />
        <slot />
      </div>
    </div>
  </div>
</Layout>

<style>
  @import url("@sikt/sds-tokens/dist/css/custom-media.css");

  .page {
    display: grid;

    @media (--sds-base-breakpoint-tablet) {
      grid-template-columns: 260px auto;
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    gap: var(--sds-space-gap-medium);
    padding: var(--sds-space-padding-large);
  }

  .content {
    background-color: var(--sds-color-layout-page-default);
    padding: var(--sds-space-padding-huge);
  }

  .container {
    container: page / inline-size;
    display: grid;
    gap: var(--sds-space-padding-huge);
    max-width: 920px;
  }
</style>
