---
import Layout from "./BaseLayout.astro";
import { Menu } from "./_components/menu/Menu";
import { Details } from "@sikt/sds-details";

const { pathname } = Astro.url;
const { title } = Astro.props;
---

<Layout title={title}>
  <div class="page">
    <Details className="menu-mobile" size="small" summary="Meny">
      <div class="menu">
        <Menu pathname={pathname} />
      </div>
    </Details>
    <div class:list={["menu", "menu-desktop"]}>
      <Menu pathname={pathname} />
    </div>
    <div class="content">
      <div class="container">
        <div class="wrapper">
          {/* TODO: Hero */}
          <slot name="hero" />
          <slot />
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  @import url("@sikt/sds-tokens/dist/css/custom-media.css");

  @custom-media --breakpoint-ultrawide (width >= 1800px);

  .page {
    display: grid;
  }

  .menu {
    display: flex;
    flex-direction: column;
    gap: var(--sds-space-gap-medium);
  }

  .menu-mobile {
    padding: var(--sds-space-padding-small);
  }

  .menu-desktop {
    display: none;
  }

  @media (--sds-base-breakpoint-tablet) {
    .page {
      grid-template-columns: 338px auto;
    }

    .menu-mobile {
      display: none;
    }

    .menu-desktop {
      display: flex;
      padding: var(--sds-space-padding-large);
    }
  }

  .content {
    background-color: var(--sds-color-layout-page-default);
    padding: var(--sds-space-padding-huge);
  }

  .container {
    container: page / inline-size;
    display: flex;

    @media (--breakpoint-ultrawide) {
      justify-content: center;
    }
  }

  .wrapper {
    display: grid;
    gap: var(--sds-space-padding-huge);
    max-width: 920px;

    @media (--breakpoint-ultrawide) {
      margin-left: -10vw;
    }
  }
</style>
