---
import Layout from "../../layouts/PageLayout.astro";
import { Paragraph } from "@sikt/sds-core";
import { Section } from "@sikt/sds-section";
import { Hero } from "../../components";

const pageTitle = "Merkevare";
---

<Layout title={pageTitle}>
  <Hero
    breadcrumbs={[
      { title: "Designsystem", href: "/" },
      { title: "Merkevare", href: "/merkevare" },
    ]}
    heading={pageTitle}
    slot="hero"
  />

  <Section headingText="Hello world">
    <Paragraph className="ds-content-max-width">
      {pageTitle}
    </Paragraph>
  </Section>
</Layout>
