---
import Layout from "../../layouts/PageLayout.astro";
import { Heading3, Heading4, Paragraph } from "@sikt/sds-core";
import { UnorderedList, ListItem } from "@sikt/sds-list";
import { Section } from "@sikt/sds-section";
import { Hero } from "../../components";

const pageTitle = "Merkevarestrategi";
---

<Layout title={pageTitle}>
  <Hero
    breadcrumbs={[{ title: "Designsystem", href: "/" }, { title: "Merkevare" }]}
    heading=`Merkevare­strategi`
    slot="hero"
  >
    Sikt – Kunnskapssektorens tjenesteleverandør er etablert for å sikre at både
    små og store virksomheter i kunnskapssektoren har tilgang til et godt
    tjenestetilbud og at de har verktøyene de trenger for å nå sine mål.
    Merkevarestrategien skal bidra til at Sikt når de målene vi har satt oss for
    å levere på vårt samfunnsoppdrag.
  </Hero>

  <Section headingText="Hvorfor merkevarestrategi?">
    <Paragraph className="ds-content-max-width">
      Det er mange gode grunner til at Sikt bør jobbe aktivt med
      merkevarebygging og etablere en solid merkevarestrategi.
    </Paragraph>

    <Paragraph className="ds-content-max-width">
      Alle våre produkter, tjenester og funksjoner kommuniserer med omverdenen.
      Måten vi fremstår og samhandler med brukerne våre påvirker sterkt hvordan
      vi oppleves. Dette gjelder alt fra brukeropplevelsen i en applikasjon, til
      dialog i supporthenvendelser, møter, skriftlige dokumenter og nettsider.
    </Paragraph>

    <Paragraph className="ds-content-max-width">
      Merkevarestrategien er et fundament for å:

      <UnorderedList>
        <ListItem>
          Kommunisere som én virksomhet: Sikre en samlet stemme og et helhetlig
          uttrykk.
        </ListItem>
        <ListItem>
          Oppfattes som brukervennlige og helhetlige: Gi en sømløs opplevelse
          for brukerne.
        </ListItem>
        <ListItem>
          Bygge tillit: Styrke tilliten både internt og eksternt.
        </ListItem>
        <ListItem>
          Skape god kultur: Fremme fellesskap og stolthet blant ansatte.
        </ListItem>
        <ListItem>
          Bruke ressurser effektivt: Optimalisere ressursbruken i all
          kommunikasjon og utvikling.
        </ListItem>
      </UnorderedList>
    </Paragraph>

    <Paragraph className="ds-content-max-width">
      En sterk merkevare gir klare fordeler:

      <UnorderedList>
        <ListItem>
          Felles retning: Den gir overordnede og langsiktige føringer for all
          ekstern kommunikasjon.
        </ListItem>
        <ListItem>
          Tydelig posisjon: Den definerer hva som kjennetegner Sikt og hva som
          gjør oss unike i markedet.
        </ListItem>
        <ListItem>
          Økt tillit og lojalitet eksternt: Vi bygger et solid omdømme som en
          pålitelig leverandør til sektoren, en ettertraktet samarbeidspartner,
          og en attraktiv arbeidsplass.
        </ListItem>
        <ListItem>
          Sterkere internkultur: En felles merkevare skaper fellesskap og
          stolthet på tvers av organisatoriske grenser, og motiverer våre
          ansatte.
        </ListItem>
        <ListItem>
          Effektiv ressursbruk og raskere utvikling: En felles merkevarestrategi
          gjør oss mer effektive i beslutninger og gir høyere fart i utviklingen
          av nye produkter, samt moderniseringen av eksisterende. Ved å enes om
          grunnleggende prinsipper for merkevaren til Sikt, slipper vi å starte
          fra bunnen av hver gang vi gjør noe nytt – enten det er etablering av
          et produkt, videreutvikling, eller etablering av nye
          kommunikasjonskanaler. Dette sparer tid og penger.
        </ListItem>
      </UnorderedList>
    </Paragraph>

    <Paragraph className="ds-content-max-width">
      Merkevarestrategien og merkevarebyggingen i Sikt har et langsiktig
      perspektiv, men er også et kontinuerlig arbeid som utvikles og forbedres
      basert på skiftende behov. Kommunikasjonsenheten i Sikt eier strategien og
      har det overordnede ansvaret for merkevare, kommunikasjonsarbeid og
      visuell identitet. Et tett samarbeid med Designlaben og
      Designsystem-teamet som oversetter merkevarestrategien til våre
      egenutviklede, digitale tjenester er avgjørende for å sikre en helhetlig
      tilnærming – fra produkt til strategisk kommunikasjon.
    </Paragraph>
  </Section>

  <Section headingText="Merkeidentitet">
    <Heading3 size="xs">1.1 Purpose – hvorfor er vi til?</Heading3>

    <Paragraph className="ds-content-max-width">
      «Et velfungerende utdanningssystem er avgjørende for å skape et godt liv
      for den enkelte og et godt samfunn for alle. Utdanning [og forskning] skal
      legge grunnlaget for demokrati, velferd, omstilling og bærekraft, sikre
      arbeidslivet relevant kompetanse og utjevne sosiale og geografiske
      forskjeller.»
    </Paragraph>

    <Paragraph className="ds-content-max-width">
      (For å forklare hvorfor Sikt er til valgte vi dette sitatet hente fra
      Strategi for utdanningsforskning 2025–2029, Kunnskapsdepartementet, 2025
      for å for. Dette syntes vi beskriver grunnlaget på hvorfor Sikt er til
      veldig godt.
    </Paragraph>

    <Paragraph className="ds-content-max-width">
      Virksomhetene i kunnskapssektoren skal sikre at Norge har fremtidsrettet
      utdanning og forskning av høy kvalitet. Sikt sin rolle er å legge til
      rette for og bidra til at utdannings- og forskningsinstitusjonene når sine
      mål, ved å være sektorens apparat for utvikling av et godt digitalt
      tjenestetilbud til alle.
    </Paragraph>

    <Heading3 size="xs">1.2 Merkevarevisjon</Heading3>

    <Paragraph className="ds-content-max-width">
      Sikt leverer de verktøyene kunnskapssektoren trenger for å levere
      forskning og utdanning i verdensklasse.
    </Paragraph>

    <Paragraph className="ds-content-max-width">
      Å levere forsking og utdanning på høyt nivå handler først og fremst om å
      realisere potensialet som bor i oss mennesker. I Sikt støtter vi
      menneskene i kunnskapssektoren med verktøy og teknologi.
    </Paragraph>

    <Heading3 size="xs">1.3 Merkevaremisjon</Heading3>

    <Paragraph className="ds-content-max-width">
      Sikt skal utvikle og levere fremragende IT-tjenester og infrastruktur, som
      har et høyt nivå av sikkerhet, robusthet og brukskvalitet.
    </Paragraph>

    <Paragraph className="ds-content-max-width">
      Vår merkevarekjerne er å være en drivkraft for utvikling. Vi er i stadig
      utvikling og ser muligheter i samspillet mellom teknologi og menneske.
    </Paragraph>

    <Heading3 size="xs">1.4 Kjerneverdier for merkevaren</Heading3>

    <Heading4 size="xxs">Kvalitet</Heading4>

    <Paragraph className="ds-content-max-width">
      Sikt skal levere sikre, robuste og gode tjenester til sektoren som er over
      forventning.
    </Paragraph>

    <Paragraph className="ds-content-max-width">
      Vi er ikke drevet av profitt, men vi skal gi sektoren tjenestene de
      trenger.
    </Paragraph>

    <Paragraph className="ds-content-max-width">
      Kvalitet skaper tillit til oss som leverandør, og skaper stolthet internt.
    </Paragraph>

    <Heading4 size="xxs">Samarbeid</Heading4>

    <Paragraph className="ds-content-max-width">
      Vi samarbeider med sektoren for å levere tjenester de trenger og som har
      god kvalitet (for eksempel gjennom samstyringsmodellen).
    </Paragraph>

    <Paragraph className="ds-content-max-width">
      Når vi samarbeider er vi hjelpsomme og lyttende – ikke bare internt, men
      også ut mot sektoren. Det skaper tillit oss imellom, og det styrker
      sektorens tillit til oss.
    </Paragraph>

    <Heading4 size="xxs">Fleksibilitet </Heading4>

    <Paragraph className="ds-content-max-width">
      I Sikt prøver, feiler og lærer vi. Dette fremmer innovasjon i tjenestene
      våre og måten vi utvikler nye tjenester på. Vi kan raskt snu oss etter
      sektorens behov. I tillegg skaper fleksibilitet rom for å utvikle oss som
      ansatte i Sikt.
    </Paragraph>

    <Heading3 size="xs">1.5 Visuelt konsept</Heading3>

    <Paragraph className="ds-content-max-width">
      Konseptet i Sikt sin visuelle identitet er bygget på tanken om å utforske
      mulighetsrommet som oppstår i møtet mellom menneske og teknologi.
    </Paragraph>

    <Paragraph className="ds-content-max-width">
      Dette er representert med hver sin form, henholdsvis plattformen
      (teknologien) og brukeren (mennesket). Når disse formene samhandler og
      overlapper, åpenbarer det seg nye former. Det nye rommet som skapes
      illustrerer mulighetsrommet, og representerer muligheten for innovasjon,
      forskning og samfunnsutvikling.
    </Paragraph>

    <Paragraph className="ds-content-max-width">
      Dette er ideen bak logoen vår, hvor overlappet mellom firkant og sirkel
      kan være i kontinuerlig bevegelse (animert), slik at logoen stadig viser
      nye mulighetsrom, oppdager seg selv og er i utvikling.
    </Paragraph>

    <Paragraph className="ds-content-max-width">
      Visuelt skal vi fremstå som profesjonell, smart og enkel, med god balanse
      mellom det oppløftende i merkevaren og tyngden i Sikts kompetanse. Dette
      uttrykkes med balanse mellom tyngde og trygghet i grafikk, mot lette
      farger og et motiverende språk.
    </Paragraph>

    <Paragraph className="ds-content-max-width">
      Profilmanual gir en nærmere beskrivelse av visuell profil.
    </Paragraph>
  </Section>
</Layout>
