.sds-side-nav {
  &__figure {
    margin: 0;
  }

  &__heading {
    align-items: center;
    display: flex;
    gap: var(--sds-space-gap-small);
    padding-bottom: var(--sds-space-gap-medium);
  }
}
