:global(.sds-footer__content) {
  align-items: start;
}

.footer {
  margin-top: auto;
}

.ul {
  display: flex;
  gap: var(--sds-space-gap-minimal);
  list-style: none;
}

.horizontal {
  align-items: center;
}

.vertical {
  flex-direction: column;
}
