.contributors {
  --sikt-animation-color: 95 56 250; /* --sds-color-interaction-primary-strong-highlight */

  display: flex;
  flex-flow: wrap;
  justify-content: center;
  text-align: center;

  @media (prefers-color-scheme: dark) {
    --sikt-animation-color: 155 131 252; /* --sds-color-interaction-primary-strong-highlight (dark-mode) */
  }

  &__contributor {
    padding: var(--sds-space-gap-medium);

    &-image {
      border-radius: var(--sds-space-border-radius-full);
      font-size: 60px;
      width: 60px;
      height: 60px;

      &--animation {
        animation: pulse 2s infinite;
      }
    }
  }

  &__contributor-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__crown {
    display: flex;
    justify-content: center;
    margin: -15px 0 -10px;
    transform: scale(2);
  }

  &__glasses {
    display: flex;
    justify-content: center;
    margin: 10px 0 -35px;
    transform: scale(2);
  }

  &__confetti {
    display: flex;
    justify-content: right;
    margin: 30px 10px -55px -10px;
    transform: scale(2);
  }

  &__balloon {
    display: flex;
    justify-content: left;
    margin: -10px 0 -15px 20px;
    transform: scale(2);
  }

  &__hand {
    display: flex;
    justify-content: left;
    margin: 30px -20px -55px 20px;
    transform: scale(2);
  }

  &__handLeft {
    display: flex;
    justify-content: left;
    margin: 30px -40px -55px 40px;
    transform: scale(2);
  }

  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgb(var(--sikt-animation-color) / 100%);
    }

    70% {
      box-shadow: 0 0 0 10px rgb(var(--sikt-animation-color) / 0%);
    }

    100% {
      box-shadow: 0 0 0 0 rgb(var(--sikt-animation-color) / 0%);
    }
  }
}
