.footer {
  :global(.sds-footer__content) {
    align-items: start;
  }

  &__list {
    display: flex;
    gap: var(--sds-space-gap-minimal);
    list-style: none;

    &-horizontal {
      align-items: center;
    }

    &-vertical {
      flex-direction: column;
    }
  }
}
