---
import Layout from "../../../layouts/PageLayout.astro";
import { Hero } from "../../../components";
import { Heading, Paragraph } from "@sikt/sds-core";
import { ButtonGroup, Button } from "@sikt/sds-button";
import { Section } from "@sikt/sds-section";
import { HeadlineTabs } from "./_components/headline/HeadlineTabs.tsx";
import { clsx } from "clsx/clsx";
import { TypographyPanel } from "./_components/typography/TypographyPanel";

const pageTitle = "Typografi";
---

<Layout title={pageTitle}>
  <Hero
    breadcrumbs={[{ title: "Designsystem", href: "/" }, { title: "Utvikling" }]}
    heading={pageTitle}
    slot="hero"
  >
    Sikt designsystem har utviklet et typografisystem som skal gjøre det enklere
    å lage produkter som er både funksjonelle og lettfattelige. Systemet skal
    ivareta lesbarhet og utseende på tvers av skjermstørrelser og tjenester.
  </Hero>

  <Section headingText="Fontfamilier">
    <Paragraph className="ds-content-max-width">
      Som i typografihierarkiet fra den visuelle profilen benytter vi tre vekter
      av Haffer i utviklingskontekst, Regular, Semibold og Bold.
    </Paragraph>

    <Paragraph size="l" className="semibold">Haffer Semibold 600</Paragraph>
    <Paragraph size="l" className="regular">Haffer Regular 400</Paragraph>

    <ButtonGroup>
      <Button variant="strong" disabled>Last ned Haffer</Button>
    </ButtonGroup>

    <Paragraph className="ds-content-max-width">
      I kontekster der det ikke er praktisk å benytte Haffer, benyttes <Paragraph
        as="span"
        modifier="strong">Arial</Paragraph
      > som erstatning. Arial er tilgjengelig som systemfont på både Windows og MacOS.
    </Paragraph>
  </Section>

  <Section headingText="Tokenbasert typografi">
    <Paragraph className="ds-content-max-width">
      Sikt designsystem benytter seg av tokens for å holde kontroll på
      typografiske variabler, gjøre vedlikehold enklere og strømlinjeforme
      kommunikasjonen mellom design og implementasjon.
    </Paragraph>

    <Paragraph className="ds-content-max-width">
      Det finnes basetokens for følgende attributter: font-size, font-weight,
      line-height og letter-spacing (se tabell over basetokens for typografi på
      bunnen av siden).
    </Paragraph>

    <Paragraph className="ds-content-max-width">
      Sikt designsystem har også semantiske tokens for følgende innholdstyper:
      headline, body text, label og overline. Disse er levert som
      typografistiler i Figma.
    </Paragraph>
  </Section>

  <Section headingText="Headlinetokens og -stiler">
    <Paragraph className="ds-content-max-width">
      Sikt har et stort spenn i sine produkter og tjenester, både i
      brukergrupper og for informasjonstetthet. Det er stor variasjon i behovene
      fra brukerflate til brukerflate.
    </Paragraph>

    <Paragraph className="ds-content-max-width">
      For å gjøre det enklere å komme i gang, også uten designere i teamet, har
      vi satt sammen to pakker av headlinetokens med utgangspunkt i hva som
      passer for henholdsvis lav og høy kompleksitet i brukerflaten. Disse
      pakkene heter Editorial og Application, og dette er synlig i navn på både
      tokens og tilhørende Figma-stiler.
    </Paragraph>

    <Paragraph className="ds-content-max-width">
      Headline-nivåene er satt opp med modes, slik at typografien skalerer
      utifra skjermstørrelse.
    </Paragraph>

    <Heading level="3" size="xs">Editorial</Heading>

    <Paragraph className="ds-content-max-width">
      Editorial-pakken er utgangspunktet for det fleste flatene i Sikt. Den har
      høy størrelseskontrast mellom de største og de minste overskriftene. Med
      Editorial kan du lage nøkterne og rolige layouter, men har også anledning
      til å blåse opp overskrifter som trenger fokus.
    </Paragraph>

    <Heading level="3" size="xs">Application</Heading>

    <Paragraph className="ds-content-max-width">
      For team som har produkter med stor informasjonstetthet, mindre
      tekststørrelser og mindre ledig plass i sine produkter kan man benytter
      Application-pakken. I Application er de største nivåene skalert ned og
      denne pakken har også mindre størrelseskontrast mellom hvert trinn.
    </Paragraph>
  </Section>

  <Section headingText="Tilpasning og egne stiler">
    <Paragraph className="ds-content-max-width">
      Målet med typografitokens og -stiler har vært å gi brukerene av Sikt
      designsystem fleksibilitet, men fortsatt benytte Sikt designsystem sine
      basetokens. Pakkene med semantiske headlinetokens og -stiler skal gjøre
      det enklere å komme raskt i gang for de fleste, men med token-skalaene som
      ligger i bunn har man stor fleksibilitet ved behov.
    </Paragraph>

    <Paragraph className="ds-content-max-width">
      Når man benytter pakkene står teamet fritt til å hoppe over nivåer dersom
      innholdet tilsier at man burde forsterke hierarkiet. Det kan for eksempel
      bety at det benyttes -application-xxl og -application-l for h1 og h2, i
      stedet for -application-xxl og application-xl.
    </Paragraph>

    <Paragraph className="ds-content-max-width">
      Det er også slik at dersom behovet oppstår, så kan man opprette egne
      stiler lokalt, så lenge man benytter Sikt designsystem sine basetokens for
      attributtene.
    </Paragraph>

    <Paragraph className="ds-content-max-width">
      Om teamet oppretter egne overskriftsstiler anbefaler vi å sette opp
      tilsvarende løsning for skalering etter skjermstørrelse som det vi har
      gjort i Editorial og Application-pakken.
    </Paragraph>
  </Section>

  <Section headingText="Editorial headlines">
    <HeadlineTabs type="editorial" client:load />
  </Section>

  <Section headingText="Application headlines">
    <HeadlineTabs type="application" client:load />
  </Section>

  <Section headingText="Label">
    <TypographyPanel type="label" />
  </Section>

  <Section headingText="Body">
    <TypographyPanel type="body" />
  </Section>

  <Section headingText="Overline">
    <TypographyPanel type="overline" />
  </Section>
</Layout>

<style>
  .bold {
    font-size: var(--sds-typography-fontsize-600);
    font-weight: var(--sds-typography-fontweight-bold);
  }

  .semibold {
    font-size: var(--sds-typography-fontsize-600);
    font-weight: var(--sds-typography-fontweight-semibold);
  }

  .regular {
    font-size: var(--sds-typography-fontsize-600);
    font-weight: var(--sds-typography-fontweight-regular);
  }
</style>
