.sds-filter-list-section {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--sds-space-gap-tiny);
  justify-content: space-between;
  padding: var(--sds-space-padding-minimal) var(--sds-space-padding-minimal)
    var(--sds-space-padding-minimal) var(--sds-space-padding-small);
  width: 100%;

  &--expandable {
    padding-right: 0;
  }

  &__label {
    font-size: var(--sds-typography-label-default-fontsize);
    font-weight: var(--sds-typography-label-default-fontweight);
    line-height: var(--sds-typography-label-default-lineheight);
  }
}
