.layout {
  &__hero {
    background-image: url("/images/grunnleggende/layout/hero.png");
  }

  &__breakpoint {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--sds-space-gap-medium);
    justify-content: space-between;

    &-list {
      align-items: end;
      display: flex;
      flex-wrap: wrap;
      gap: var(--sds-space-gap-small);
    }
  }
}
