.sds-side-nav-button {
  align-items: center;
  background-color: transparent;
  border: 0 none;
  border-radius: var(--sds-space-border-radius-small);
  color: var(--sds-color-text-primary);
  cursor: pointer;
  display: flex;
  gap: var(--sds-space-gap-small);
  font-size: var(--sds-typography-body-fontsize-regular);
  font-weight: var(--sds-typography-weight-regular);
  line-height: var(--sds-typography-body-lineheight-regular);
  padding: var(--sds-space-padding-small);
  text-decoration: none;
  width: 100%;

  &:hover,
  &:focus-visible {
    background-color: var(
      --sds-color-interaction-primary-transparent-highlight
    );
  }

  &:active {
    background-color: var(--sds-color-interaction-primary-transparent-pressed);
  }

  &:focus-visible {
    outline: var(--sds-focus-outline);
  }

  &--disabled {
    background-color: var(--sds-color-interaction-primary-transparent-default);
    color: var(--sds-color-text-primary);
    cursor: not-allowed;
    opacity: 0.2;
  }

  &__icon {
    align-items: center;
    display: flex;
    font-size: var(--sds-base-size-m);
    justify-content: center;
    width: var(--sds-base-size-m);
    height: var(--sds-base-size-m);
  }
}
